<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Alissa.UniDic-CWJ.binary" version="2.3.0-beta4" targetFramework="net472" />
  <package id="Alissa.UniDic-CWJ.binary.matrix.1" version="2.3.0-beta4" targetFramework="net472" />
  <package id="Alissa.UniDic-CWJ.binary.matrix.2" version="2.3.0-beta4" targetFramework="net472" />
  <package id="Alissa.UniDic-CWJ.binary.matrix.3" version="2.3.0-beta4" targetFramework="net472" />
  <package id="LibNMeCab" version="0.10.0-bata.2" targetFramework="net472" />
</packages>